<!DOCTYPE html>
<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

  <script type="text/javascript" src="../js/jquery.scrollTo-1.4.3.1-min.js"></script>
  <script src="../socket.io/socket.io.js"></script>
  <script src="../js/functions.js"></script>

  <link href="http://fonts.googleapis.com/css?family=Open+Sans|Bowlby+One+SC|Sigmar+One" rel="stylesheet" type="text/css">

  <link href="../stylesheets/style.css" rel="stylesheet" type="text/css">
  <link rel="icon" href="../images/favicon.png" type="image/png">
</head>
<body>
   

    <div id="wrapper">
        <div id="head-nav">
            <div id="nav-links">
                <span id="l2">Lorem</span>&nbsp;|&nbsp;<a href="#">Ipsum</a>&nbsp;|&nbsp;<a href="#">Dolor Sum</a>
            </div>

        </div>
         <div id="app-title" >
          <br><br>
          <h2>Finger Me!</h2>
         </div>
          

          <br><br>
          <div id='chat-box'>

            <div id='chat-log'> 
              USER 1: HI <br> <br>USER 2: NICE <br>
            </div>

            <div id="message-send-box">
              <input type='textbox' id="message-text-box"></input>
               <!--textarea id="message-text-box"></input-->

              <input id="message-send-button" value="Send" type="button"></input>
            </div>
          </div>
        </div>





         
        </div>
    </div>




</body>

</html>


