<!DOCTYPE html>
<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="js/functions.js"></script>

  <link href="http://fonts.googleapis.com/css?family=Open+Sans|Bowlby+One+SC|Sigmar+One" rel="stylesheet" type="text/css">
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
  <link rel="icon" href="images/favicon.png" type="image/png">

</head>
<body>
   

    <div id="wrapper">
        <div id="head-nav">
            <div id="nav-links">
                <span id="l2">Lorem</span>&nbsp;|&nbsp;<a href="#">Ipsum</a>&nbsp;|&nbsp;<a href="#">Dolor Sum</a>
            </div>

        </div>
         <div style="text-align:center" >
            <br><br>
          <% if (!user) { %>
          <h2>Welcome! Please <a href="/login">log in</a>.</h2>
          <% } else { %>
          <h2>Hello, <%= user.username %>.</h2>
          <% } %>
        </div>
    </div>




</body>

</html>


