<!DOCTYPE html>
<html>
<head>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans|Bowlby+One+SC|Sigmar+One" rel="stylesheet" type="text/css">
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css">

</head>
<body>
<div style="text-align:center" id='container'>
  <p align='center'>Please enter the address where you'd like to receive notifications about your friends' posts.</p>
  <form align='center' action="loginWithEmail" method="POST">
    <input class="textbox" type="text" name="email" />
    <input class="button" type="submit" value="Submit" />
  </form>
  <a href="/auth/tumblr">Login with Tumblr</a>

</div>


</body>

</html>



