

#app-title {
  position: relative;
  text-align: center;
}


/* CHAT BOX */
#chat-box {
  background-color: black;
  width: 400px;
  height: 500px;
  top: 700px;
  position: absolute;
}

#chat-log {
  background-color: yellow;
  width: 400px;
  height: 300px;
  overflow-y: auto;
  position: absolute;
}

#message-send-box {
  position:absolute;
  top: 300px;

}


#message-text-box {
  background-color: white;
  width: 400px;
  max-width:  400px;
  position: relative;
}


#message-send-button {
  position:relative;
}


#recognition-box {
  height: 500px;
  width: 570px;
  border: 1px solid red;
  left: 30px;
  position:absolute;
}

#detected-character-box {
  font-size: 90px;
  width: 100px;
  height: 130px;
  color: blue;
  border: 1px solid black;
  position: absolute;
  text-align: center;
}


#leap-status-box{
  font-size: 13px;
  color: black;
  top:140px;
  position: relative;
}

#leap-character-status-box{
  font-size: 15px;
  color:black;
    top:140px;
    position: relative;
}




/* RENDERER */
 canvas { 
  width: 200px; 
  height: 200px; 
  //background-color: rgba(30,30,30, 1.0); 
}

#leap-visualizer {
  width: 200px;
  height: 200px;
  top: 150px;
  position: relative;
}

